@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;800&display=swap');
:root {
    --accents: #e1a0b1;
    --basicColor: #333;
    --transition: .4s ease;
    --padding: 70px 0;
    --white: #fff;
    --violet: #955791;
    --lightGray: #fbf5f9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1,h2,h3,h4,h5 {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--basicColor);
}
a:hover {
    color: var(--accents);
    transition: var(--transition);
}
.bg-light {
    background: rgba(255,255,255,.6) !important;
}
/****************
nav
****************/
.navbar-brand img {
    width: 100px;
}
.nav-link {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.nav-link:hover {
    color: #955791 !important;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #955791 !important;
}
/****************
header
****************/
header {
    background-image: url(img/NZI-home%20beli.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
header .col-md-8 {
    height: 80vh;
}
header h1 {
    font-size: 4rem;
    font-weight: 800;
}



